@media screen and (min-width: 1000px) {
    

    main {
        display: flex;
        margin: 0;
        width: 100%;
        max-width: 1000px;
        height: 100vh;
        align-items: center;
        margin: 0 auto;
        padding: 0;
    }

    section {
        width: auto;
        height: 50%;
        padding: 30px 40px 0;
        display: flex;
        flex-direction: column;
    }

    p {
        margin-top: 1rem;
    }

    .button {
        margin: 50px 0 0 0;
        justify-self: flex-end;
    }

    .sedans {
        border-radius: 10px 0 0 10px;
    }

    .luxury {
        border-radius: 0 10px 10px 0;
    }


}